@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1080px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 40px;
}

header ul.nav {
    float: right;
    list-style: none;
    font-weight: 600;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {text-decoration: none; color: #000;}

header .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: #814bc6;
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px #606060; 
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    color: #12336b;
    float: right;
    position: relative;
    top: -40px;
    cursor: pointer;
    transition: transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: #071d45;
    transform: scale(1.5);
}

header .shop-cart .sum {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

header .presentation {
    margin: 50px 0;
    background: url('./img/top.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: aliceblue;
    position: relative;
}

header .presentation::after {
    content: 'Одежда, которая подчеркивает индивидуальность*';
    position: absolute;
    top: 50px;
    right: 10px;
    width: 250px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(245, 241, 236);
    text-shadow: 1px 2px 1px #000;
}

header .presentation::before {
    content: '*по доступной цене';
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 250px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(245, 241, 236);
    text-shadow: 1px 2px 1px #000;
}

.categories div {
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: silver;
    transform: scale(1.1);
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #060505cf;
    z-index: 9999;
    overflow: auto;
}

.full-item > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img,
.full-item img {
    width: 100%;
    height: 65%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item img:hover,
.full-item img:hover {
    transform: scale(1.05);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b {
    margin: 10px 20px;
    color: #333;
}

main b, .full-item b {
    color: #12336b;
}

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #814bc6;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover  {
    transform: scale(1.25) translateY(-5px);
}

.description {
    max-width: 345px;
    overflow-wrap: break-word;
    text-align: left;
}
/* pages contacts */
.about {
    padding-bottom: 10px;
}

p {
    margin: 0;
    text-align:justify;
    text-indent: 3ch;
  }
p.pilcrow {
     text-indent: 0;
     display: inline;
  }
p.pilcrow + p.pilcrow::before {
    content: " ¶ ";
  }
.brand {
    font-size: 1.1em;
    font-weight: 700;
    margin-left: 0px;
}
.contacts {
    grid-row: 1 / span 4;
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacts p {
    font-size: 1.1em;
    font-weight: 700;
    padding-top: 10px;
}
.mobile {
    font-size: 1em;
    padding-bottom: 10px;
}
.mail {
    font-size: 1em;
    padding-bottom: 10px;
}
.line-hr {
    height: 1px;
    margin: 20px 0 40px 0;
    background: #cccccc;
}
.contact_city {
    color: #eb4068;
    margin: 0 0 20px 0;
    line-height: 17px;
    height: 17px;
    font-weight: 600;
    padding-top: 10px;
}

b {
    margin-left: -28px;
}

footer {
    text-align: center;
    margin-top: 100px;
}
.image-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url('./img/clothing-store.jpg') no-repeat;
    width: 50%;
    height: 400px;
    padding: 0px;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}

.btn {
    width: 150px;
    background-color: #814bc6;
    border: 0.5px solid #f6f5f8;
    /* border-radius: 5%; */
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-wrapper {
  margin: 50px 10px;
}
.section-wrapper {
  display: flex;
}